/* styles.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
}

/* Show the dropdown content when the "Dropdown Button" is clicked */
button.datatable-icon-right.active + .dropdown-content {
    display: block;
}
